#activeProjectsByDeployments, #last3monthsdeployments, #tentacleHealth, #activeUsers {
  height: 300px;
}
#avgDeploymentTime, #longDeployments, #deploymentsByHour, #deploymentPunchCard {
  height: 300px;
}
#deploymentOutcomeByProject, #byDuration {
  height: 300px;
}

#deploymentOutcomeByProjectChart {
  /*margin: 0px;
  padding: 0px;*/
  height: 100%;
  width: 100%;
  /*display: block;*/
}

#avgDepSearchSingle{
  height: 0px;
  width: 0px;
}
.splunk-single{
    visibility: hidden;
}
